<div class="container">
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
      </div>
    </div>
  <hr>
    <div class="row">
      <div class="col-12">
        <!-- ngFor to loop through the recipes array -->
        <a href="#" class="list-group-item border my-2 p-3 clearfix" *ngFor="let recipe of recipes">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
              <p class="list-group-text">{{ recipe.description }}</p>
            </div>
            <img src="{{ recipe.imagePath }}" alt="{{ recipe.name }}" class="img-fluid rounded-circle" style="max-height: 50px;">
          </div>
        </a>
        <!-- app-recipe-item component (if needed) -->
        <app-recipe-item></app-recipe-item>
      </div>
    </div>
  </div>
  